
body{
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-weight: 400;
}

header, footer{
    background: #222831;
    color: white;
    height: 60px;
}

h1{
    font-size: 250%;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    font-weight: 500;
    
}

article{
    width:60vw;
    margin: 0 auto;
    padding: 40px;
}

figure{
    margin-bottom: 5px;
    margin: 0;
}

figcaption{
    font-size:18px;
    font-style:italic;
    font-weight: 400;
}

img{
    width:100%;
    border-radius: 5px;
    transition: 0.3s transform;
}

img:hover{
    transform: scale(1.05);
}

p{
    margin-bottom: 10px;
    font-size: 24px;
}

p:last-of-type{
    margin-bottom: 0;
}

audio{
    display: block;
    width: 100%;
    margin-top: 20px;
}

video{
    width: 100%;
    border-radius: 17px;
}

footer{
    display: flex;
    align-items: center;
}

footer > p{
    margin: 0;
    width: 60vw;
    margin: 0 auto;
}

@media screen and (max-width:1000px) {
    article{
        width: 85vw;
    }
    footer > p{
        width: 85vw;
    }
    img:hover{
        transform: none;
    }
}

@media screen and (max-width: 600px){
    article{
        width: 100vw;
        padding: 20px;
    }   
    body{
        font-size: 16px;
    }
    h1{
        font-size: 180%;
    }
    footer > p{
        width: 100vh;
        padding-left: 20px;
    }
}